{% load static %}
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %}
    Subscribe!
    {% endblock %}
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/form.css'%}">
</head>

<body>
  <div class="content">
    {% block content %}
    <div class="intro">
      <h2>Selamat datang, yuk isi form di bawah!</h2>
    </div>
    <div class="form-content">      
      <form id="formstory10">
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" id="emailinput" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="nameinput" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="passwordinput" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" id="submitButton" disabled>Submit</button>
        <!-- <button href="/landing" type="button" class="btn btn-primary" id="backButton" form="formstory10" >Back</button> -->
      </form>
    </div>
    {% endblock content %}

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/form.js'%}"></script>
  <script src="{% static 'js/jquery-1.12.4.js'%}"></script>
  <script src="{% static 'js/jquery-ui.js'%}"></script>
</body>

</html>