{% load static %}
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %}
    Meet Ihwanes
    {% endblock %}
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
  <div class="nav-bar">
    <!-- Nav tabs -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/form">Subscribe</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>

  <div class="content-page">
    {% block content %}
    <div class="landing-page">
      <!--<div class="background-landing"></div>-->
      <div class="profile-picture-landing">
        <img src="https://bem.cs.ui.ac.id/staf/assets/2018/img/photo/1706074934.jpg" class="rounded-circle mx-auto d-block"
          alt="It's me" width="304" height="304">
      </div>
      <div class="profile-landing">
        <h2>Halo, ini saya, Ihwan!</h2>
        <ul>
          <li>Kabupaten Tangerang</li>
          <li>Bandung, 18 Juli 1999</li>
          <li>Senang main game, jalan-jalan, diskusi, ngopi</li>
        </ul>
      </div>
      <div class="act-landing">
        <h2>Aktivitas</h2>
        <ul>
          <li>Staff Pengmas BEM Fasilkom UI 2018</li>
          <li>Staff Sospol FUKI Fasilkom UI 2018</li>
          <li>PJ Akademis Pocman</li>
        </ul>
      </div>
      <div class="edu-landing">
        <h2>Pendidikan</h2>
        <ul>
          <li>SDN Periuk 6 Kota Tangerang</li>
          <li>SMPN 5 Kota Tangerang</li>
          <li>SMA A. Wahid Hasyim Tebuireng Kabupaten Jombang</li>
          <li>S1 Ilmu Komputer Universitas Indonesia</li>
        </ul>
      </div>
    </div>
    {% endblock content %}
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>