body{
  background-color: #0da6ff;
  color: white;
}
.background-landing {
  background-image: url("https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/14322673_641501939352612_4491177294453033085_n.jpg?_nc_cat=0&oh=e7cfc6a11a5d04fe9fac6c870bdcfbea&oe=5C31B4A3");
  background-position: center center;
  width: 100%;
  height: 100%;
}

.content-page{
  padding: 20px;
  margin: 20px;
}

.act-landing{
  width: 66%;
}

.text-landing{
  margin: 20px;
  padding: 20px;
  font-size: 200px;
}